- if user_signed_in?
  = link_to 'クレジットカード登録', new_card_path
  - if current_user.cards.length > 0
    %div= "■デフォルトカード ------------"
    %div= "カード種別：#{@default_card.brand}"
    %div= "カード番号：**** **** **** #{@default_card.last4}"
    %div= "有効期限：#{@default_card.exp_month.to_s}月/#{@default_card.exp_year.to_s}年"
    %br
    = "■登録カード一覧：全#{@cards.count}枚"
    - @cards.each_with_index do |card, i|
      %div= "登録カード#{i + 1} ------------------------"
      %div
        = card.brand
        - if @default_card.metadata.card_id == card.metadata.card_id
          = "【デフォルトカード】"
      %div= "**** **** **** #{card.last4}"
      = button_to '詳細', card_show_cards_path, params: {id: card.metadata.card_id}
      %br

= link_to '購入画面へ', new_charge_path