%div
  カード番号
  = text_field_tag :number
%div
  セキュリティコード
  = text_field_tag :cvc
%div
  有効期限
  = select_tag :exp_month, options_for_select(@month_arr.map{|m|[m[:name], m[:id]]}), {prompt: '--'}
  = select_tag :exp_year, options_for_select(@year_arr.map{|y|[y[:name], y[:id]]}), {prompt: '--'}
= button_tag '作成する', type: :button, id: :create_btn
= form_with url: cards_path, rocal: true, id: 'send_token' do
  = hidden_field_tag :payjp_token